/**
 * Mobile
 * only screen and (min-width: 480)
 * 
 * 
 */


/* M E D I A */
@media screen and (min-width: 748px ){
    #container{
        /* width: 70%; */
        background-size: 150%;
    }
}

@media screen and (max-width: 650px ){
    #container{
        display: none;
    }
}

@media screen and (max-width: 480px ){
    .logo{
        /* width: 50%; */
    }
}

@media screen and (min-width: 1059px ){
    .txt1{
        font-size: 10%;
    }
}

/* C S S */
body{
    background-color: black;
}

.mainTxt{
    animation: moveDown;
    -webkit-animation: moveDown;
}

#container{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    background-image: url("/assets/images/couch2.jpg");
    border-spacing:50rem;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1500px;
}

#header{
    background-image: url("/assets/images/couch1.jpg");
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 93%;
    margin-left: 3%;
}

.logo{
    /* background-color: rgba(145, 104, 211, 0.164); */
    color:rgb(248, 239, 239);
    /* border: 20px solid red; */
    /* border-radius: 20%; */
    font-size: 20px;
    display: flex;
    margin-right:1%;
    align-items: center;
    /* -webkit-border-radius: 10%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%; */
}

#navBttn{
    list-style: none;
    /* color: rgb(184, 242, 253); */
    display: flex;
    gap: 18%;
    font-size: x-large;
    margin-right: 25%;
    margin-top: 60px;
    width: 25%;
    /* text-decoration: none; */
}


a{
    text-decoration: none;
 color: #ffff;
}


.footer{
    display: flex;
    width: 78%;
    margin-left: 11%;
    background-color: rgba(0, 0, 0, 0.644);
    /* background-image: url("/assets/images/couch1.jpg"); */
    justify-content: space-around;
    font-size: large;
    align-content: center;
    margin-top: 16%;
    color: rgb(202, 178, 178);
}

#click{
    cursor: pointer;
}


@keyframes introLoad {
    from{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes moveDown{
    from{
        transform: translateX(30px);
        -webkit-transform: translateX(30px);
        -moz-transform: translateX(30px);
        -ms-transform: translateX(30px);
        -o-transform: translateX(30px);
    }
    to{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
}